:root {
	--colorDim: DimGray;
	--colorRed: Red;
	--colorYellow: Gold;
	--colorGreen: Green;
	--colorBlue: DodgerBlue;
	--colorPurple: MediumOrchid;
	--colorCyan: DarkCyan;
	--colorOrange: OrangeRed;
	--colorLightYellow: #FFEA7F;
	--colorPink: #FF8AFF;
	--colorWhite: White;
	--colorBlack: Black;
}

body {
	background-color: var(--colorBlack);
  color: var(--colorCyan);
	word-wrap: break-word;
  font-family: Consolas, monaco, monospace;
	margin: 8px 10vw;
}

a {
	color: var(--colorGreen);
}

p {
	margin: 0px;
}

pre {
	text-align: left;
}

p.rainbow {
	display: inline;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

::-webkit-scrollbar {
    display: none;
}

#output {
	margin-top: 1em;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#input {
	width: 100%;
  display: none;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#quiting {
	color: var(--colorWhite);
	position: fixed;
	display: none;
	margin-left: calc(-10vw + 8px);
}

#settings {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	display: none;
}

#settings div {
	overflow: hidden;
}

.settingsLeft {
	float: left;
	width: 50%;
}

.settingsRight {
	float: right;
	width: 50%;
}

.settingsLeft div {
	margin: 0 10%;
}

.settingsRight div {
	margin: 0 10%;
}

#menuOptionsDisp {
	text-align: center;
}

#colorTypeDisp {
	text-align: center;
}

#input.visible {
  display: flex;
	bottom: 0;
	left: 0;
}

.choice {
	text-align: left;
}

.link {
	text-decoration: underline;
	cursor: pointer;
}

.menuSelected.menu {
	background-color: var(--colorCyan);
	color: var(--colorBlack);
}

.menu {
	color: var(--colorCyan);
	text-align: center;
	padding: 0 1em;
}

.preWhite {
	white-space: pre;
	color: var(--colorWhite);
}

.dim {
	color: var(--colorDim);
}

.red {
  color: var(--colorRed);
}

.yellow {
	color: var(--colorYellow);
}

.green {
	color: var(--colorGreen);
}

.blue {
  color: var(--colorBlue);
}

.purple {
  color: var(--colorPurple);
}

.cyan {
	color: var(--colorCyan);
}

.orange {
	color: var(--colorOrange);
}

.lightYellow {
	color: var(--colorLightYellow);
}

.pink {
	color: var(--colorPink);
}

.white {
	color: var(--colorWhite);
}

.black {
	color: var(--colorBlack);
}
