body {
	background-color: black;
  color: DarkCyan;
	word-wrap: break-word;
  font-family: Consolas, monaco, monospace;
	margin: 8px 10vw;
}

a {
	color: Green;
}

p {
	margin: 0px;
}

pre {
	text-align: left;
}

p.rainbow {
	display: inline;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

::-webkit-scrollbar {
    display: none;
}

#output {
	margin-top: 1em;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#input {
	width: 100%;
  display: none;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#quiting {
	color: white;
	position: fixed;
	display: none;
	margin-left: calc(-10vw + 8px);
}

#settings {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	display: none;
}

#settingsLeft {
	float: left;
	width: 50%;
}

#settingsRight {
	float: right;
	width: 50%;
}

#input.visible {
  display: flex;
	bottom: 0;
	left: 0;
}

.choice {
	text-align: left;
}

.link {
	text-decoration: underline;
	cursor: pointer;
}

.menuSelected.menu {
	background-color: DarkCyan;
	color: Black;
}

.menu {
	color: DarkCyan;
	text-align: center;
	padding: 0 1em;
}

.dim {
	color: DimGray;
}

.red {
  color: Red;
}

.yellow {
	color: Gold;
}

.green {
	color: Green;
}

.blue {
  color: DodgerBlue;
}

.purple {
  color: MediumOrchid;
}

.cyan {
	color: DarkCyan;
}

.orange {
	color: OrangeRed;
}

.white {
	color: White;
}
