#rpg {
	display: none;
}

#rpg .sprite {
	white-space: pre;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 1.3em;
	width: 100px;
	height: 100px;
	transition: color 1s ease-out;
}

#rpgMenu {
	width: 300px;
}

#rpgOutput {
	position: absolute;
	top: 500px;
}

.shopWrapper {
	width: 100%;
}

.shopWrapper .rpgMenu {
	width: 250px;
}

.shopText {
	margin-left: 266px;
}

.rpgMenu {
	float: left;
}

.rpgMenuText {
	margin-left: 16px;
	float: right;
	color: var(--colorDim);
}

#rpg .sprite.hurt {
	color: #892400;
	transition: color 0s;
}

#rpg .sprite.healed {
	color: #27A023;
	transition: color 0s;
}

.hurtText {
	color: #892400;
	font-size: 2em;
}

.healedText {
	color: #27A023;
	font-size: 2em;
}

.hpText {
	margin-bottom: 1em;
}
