.fishingMinigame {
	display: flex;
	height: 400px;
	column-gap: 10px;
}

#fishingMinigameMap {
	position: relative;
	height: 100%;
	width: 600px;
}

#fishingMinigameMeter {
	position: relative;
	background-color: var(--colorDim);
	height: 100%;
	width: 30px;
}

#fishingTarget {
	position: absolute;
	width: 30px;
	height: 8px;
}

#fishingBar {
	position: absolute;
	width: 30px;
	height: 8px;
	background-color: var(--colorWhite);
	bottom: 0px;
}

#fishPrintOutput {
	padding-top: 1em;
}

.fish {
	position: absolute;
	cursor: pointer;
}

.fish.target {
	font-weight: bold;
	box-shadow: 0 0 24px var(--colorWhite);
}