body {
	background-color: black;
  color: DarkCyan;
	word-wrap: break-word;
  font-family: Consolas, monaco, monospace;
}

a {
	color: Green;
}

p {
	margin: 0px;
}

pre {
	text-align: left;
}

p.rainbow {
	display: inline;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

::-webkit-scrollbar {
    display: none;
}

#output {
	margin-top: 1em;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#input {
	width: 100%;
  display: none;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#input.visible {
  display: flex;
}

.choice {
	text-align: left;
}

.link {
	text-decoration: underline;
	cursor: pointer;
}

.dim {
	color: DimGray;
}

.red {
  color: Red;
}

.yellow {
	color: Gold;
}

.green {
	color: Green;
}

.blue {
  color: DodgerBlue;
}

.purple {
  color: MediumOrchid;
}

.cyan {
	color: DarkCyan;
}

.white {
	color: White;
}
